
**DOMAIN: Sports**

**• CONTEXT:**

Company X manages the men's top professional basketball division of the American league system. The dataset contains information on all the teams that have participated in all the past tournaments. It has data about how many baskets each team scored, conceded, how many times they came within the first 2 positions, how many tournaments they have qualified, their best position in the past, etc.

• **DATA DESCRIPTION:** 

bb.csv - The data set contains information on all the teams so far participated in all the past tournaments.

**• ATTRIBUTE INFORMATION:**
1. Team: Team’s name
2. Tournament: Number of played tournaments.
3. Score: Team’s score so far.
4. PlayedGames: Games played by the team so far.
5. WonGames: Games won by the team so far.
6. DrawnGames: Games drawn by the team so far.
7. LostGames: Games lost by the team so far.
8. BasketScored: Basket scored by the team so far.
9. BasketGiven: Basket scored against the team so far.
10. TournamentChampion: How many times the team was a champion of the tournaments so far.
11. Runner-up: How many times the team was a runners-up of the tournaments so far.
12. TeamLaunch: Year the team was launched on professional bb.
13. HighestPositionHeld: Highest position held by the team amongst all the tournaments played.

**• PROJECT OBJECTIVE:** 

Company’s management wants to invest on proposal on managing some of the best teams in the league. The analytics department has been assigned with a task of creating a report on the performance shown by the teams. Some of the older teams are already in contract with competitors. Hence Company X wants to understand which teams they can approach which will be a deal win for them.

Steps and tasks: [ Total Score: 15 points]
1. Read the data set, clean the data and prepare a final dataset to be used for analysis.
2. Perform detailed statistical analysis and EDA using univariate, bi-variate and multivariate EDA techniques to get a data
driven insights on recommending which teams they can approach which will be a deal win for them.. Also as a data
and statistics expert you have to develop a detailed performance report using this data.
Hint: Use statistical techniques and visualisation techniques to come up with useful metrics and reporting. Find out
the best performing team, oldest team, team with highest goals, team with lowest performance etc. and many more.
These are just random examples please use your best analytical approach to build this report. You can mix match
columns to create new ones which can be used for better analysis. Create your own features if required. Be highly
experimental and analytical here to find hidden patterns. Use graphical interactive libraries to enable you to publish
interactive plots in python.
3. Please include any improvements or suggestions to the association management on quality, quantity, variety, velocity,
veracity etc. on the data points collected by the association to perform a better data analysis in future.

In [ ]:
#Import basic packages
import numpy as np    
import pandas as pd

#import csv to df
bb = pd.read_csv('DS_Part2_BasketBall.csv') 

bb.describe(include='all')
bb.info() 
# No null values in any of the column. 
# 2 columns with datatype as int64 (Tournament and HighestPositionHeld)

bb.shape 

# Data frame has 61 rows and 13 columns. 

bb.head()
# top rows clearly shows invalid values '-' in TournamentChampion , runner-up columns, we will assume that the team has not won any chapion title or runner up for '-' value

bb.tail()
#last team has many missing data , we will remove the team from other analysis

Data Cleaning

In [ ]:
# counting the missing values

missing_value_count = bb.isnull().sum()
print(missing_value_count[0:13])

bb= bb.replace('-',0)
# In 'TeamLaunch' column there are characters like 'to', '-', '~'.  so cleaning data by removing these.

bb = bb.replace(to_replace ='to', value = '-', regex = True) 
bb = bb.replace(to_replace ='_', value = '-', regex = True) 
bb = bb.replace(to_replace ='~', value = '-', regex = True)

bb.head(10)

In [ ]:
#Change the object datatype into int
# All the columns except "Team" can be changed to int column
bb_new = bb.copy()
# Storing only the starting year of team laucnh, i.e. keeping only the first four characters from column 
bb_new['TeamLaunch'] = bb['TeamLaunch'].str[:4]
# Changing the data type of 'TeamLauch' as integer
bb_new['TeamLaunch'] = bb_new['TeamLaunch'].astype(int)

**EXPLORATORY DATA ANALYSIS**

In [ ]:
# Formatting the teamlauch column so it can be processed as int 
bb_new.head(10)

# Changing the data type of all the columns except 'Team'column of dataframe as int
bb_new = bb_new.loc[:,bb_new.columns !='Team'] 

bb_new = bb_new.astype(int)

In [ ]:
# Appending the 'Team' column which is of data type 'string' and dropped while doing type conversion with the converted dataframe
bb_new['Team']=(bb['Team'])
first_column =bb_new.pop('Team')
bb_new.insert(0, 'Team', first_column) # Insert 'Team' as the first column
bb_new.head()

In [ ]:
# Lets get the team who played maximum number of Tournament
bb_new.groupby(['Team'])['Tournament'].sum().sort_values(ascending=False).head(5)

In [ ]:
# Get the teams who played minimum number of Tournament
bb_new.groupby(['Team'])['Tournament'].sum().sort_values(ascending=True).head(5)

In [ ]:
# Calculate the WINNIING % of the team from PlayedGames	and WonGames and adding extra column to the dataframe
bb_new['WinResult'] = bb_new['WonGames']/bb_new['PlayedGames']
bb_new['WinResult'].dtype
TopWin = bb_new['WinResult'].sort_values(ascending =False).head(10)
print('The top 5 teams, which won the maximum games are')
bb_new.groupby(['Team'])['WinResult'].sum().sort_values(ascending =False).head(5)

In [ ]:
# Calculate the percentage of getting championship against tounament played
bb_new['Champions'] = bb_new['TournamentChampion']/bb_new['Tournament']
bb_new['Champions'].dtype
TopChampions = bb_new['Champions'].sort_values(ascending =False).head(10)
print('The top 5 teams which became Champions are:')
bb_new.groupby(['Team'])['Champions'].sum().sort_values(ascending =False).head(5)

In [ ]:
# Calculate the total period, the team is playing the tournament assuming the teams included upto 2020
bb_new['TeamAge'] = 2020-bb_new['TeamLaunch']
print('The oldest team in the tournament is of age: ',bb_new['TeamAge'].max())
print('The oldest team in the tournament are: ')
print(bb_new[bb_new['TeamAge'] == bb_new['TeamAge'].max()])

In [ ]:
print('The newest team in the tournament is of age: ',bb_new['TeamAge'].min())
print('The newest team in the tournament are: ')
print(bb_new[bb_new['TeamAge'] == bb_new['TeamAge'].min()])

In [ ]:
# Getting the teams those who played maximum number of Tournament against the age of the team
bb_new['TeamExperience'] = bb_new['TeamAge']/bb_new['Tournament']
bb_new['TeamExperience'].dtype
print('The top 5 teams with maximum experience of Tournament are:')
bb_new.groupby(['Team'])['TeamExperience'].sum().sort_values(ascending =False).head(5)

In [ ]:
print('The 5 teams with minimum experience of Tournament are:')
bb_new.groupby(['Team'])['TeamExperience'].sum().sort_values(ascending =True).head(5)

In [ ]:
# Calculate the percentage of getting championship against experience
bb_new['TeamPerformance'] = bb_new['Champions']/bb_new['TeamExperience']
bb_new['TeamPerformance'].dtype
print('The top 5 teams with the percentage of getting championship against experience are:')
bb_new.groupby(['Team'])['TeamPerformance'].sum().sort_values(ascending =False).head(5)

In [ ]:
# Lets Filter the dataframe to understand age of the team, WinResult, Champions,Team Experience and Team Performance
df_1=bb_new.filter(items=['Team', 'TeamAge', 'TeamExperience','TeamPerformance','WinResult','Champions']) 
df_1

lets explore data using graphs and charts

In [ ]:
# Let's find the team with better performance
plt.figure(figsize = (12,8))
# Plot the teamAge against the Team Performance
sns.barplot(x='TeamAge', y='TeamPerformance',data=df_1)

**It is observed that Team of the age 91 has better performance.(Team 1, 2 and 3)**

In [ ]:
# Let's find the team with better win results
# Plot the top 10 teams which gave better win results 
df_2=bb_new.groupby(['TeamAge'])['WinResult'].sum().sort_values(ascending =False).head(10)                                                                                           
plt.figure(figsize = (10,10))
sns.barplot(y = df_2.values ,x = df_2.index)

 **It is observed that Team of age 91 and 79 has Won more games with respect to the total games played.**

In [ ]:
# #  Let's find the correlation matrix between all the performance metrics
numeric_df = df_1.select_dtypes(include=['number'])
corr=numeric_df.corr()
corr

In [ ]:
sns.heatmap(corr, annot = True)

**The Correlation table shows high correlation between Team Performance and Tournament Champions**.

In [ ]:
# Let's find the team which has got championship
# Plot the top 10 teams which were champions
df_3=bb_new.groupby(['TeamAge'])['Champions'].sum().sort_values(ascending =False).head(10)                                                                                           
plt.figure(figsize = (10,10))
sns.barplot(y = df_3.values ,x = df_3.index)

In [ ]:
# Lets compare New vs old team's performance with respect to age and Highest Position based on Championship 
sns.scatterplot(data=bb_new, x="Champions", y="HighestPositionHeld",size="TeamAge")

In [ ]:
# Lets compare New vs old team's performance with respect to age and Highest Position based on WinResult 
sns.scatterplot(data=bb_new, x="WinResult", y="HighestPositionHeld",size="TeamAge")

Team of age 15 (Young Team) held the Highest Position

In [ ]:
sns.lmplot(x="WinResult", y="HighestPositionHeld", hue = "Team", data=bb_new)

Team 57 held the Highest Position

**TOP 5 TEAMS FROM BELOW CONSOLIDATED TABLES A AND B CAN TREATED AS BEST PERFORMERS AND HENCE COMPANY CAN CHOOSE BETWEEN THESE TEAMS FOR SPONSORSHIP**

In [ ]:
df_4 = df_1.sort_values(by='WinResult',ascending=False) # Top performing teams
print('TOP OLD TEAMS TABLE A')
df_4.sort_values(by='TeamAge',ascending=False).head(5) # Top Performing old teams

In [ ]:
df_5 = df_1.sort_values(by='TeamExperience',ascending=False) # Top performing teams
print('TOP OLD TEAMS :TABLE B')
df_5.sort_values(by='TeamAge',ascending=False).head(5)

In [ ]:
# If Top Performing old teams above are already in contract with competitors 
# then below Young Teams Can be approach
print('Top Young Teams: TABLE A')
df_4.sort_values(by='TeamAge',ascending=True).head(5)

In [ ]:
print('Top Young Teams: TABLE B')
df_5.sort_values(by='TeamAge',ascending=True).head(5)

3. Following are improvements or suggestions to the association management on quality, quantity, variety, velocity, veracity etc. on the data points collected by the association to perform a better data analysis in future.

*  Teams which are already in contract with competitors
*  The year for which the decision is to be made
*   Top players of the team